@font-face {
    font-family: "archivo";
    src: url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@600&family=Montserrat&display=swap');
}
@font-face {
    font-family: "aeonik";
    src: url('../../assets/fonts/Aeonik-Pro-Light.ttf');
}

*{border: 1px solid red;}

// Colors
$silver: rgb(211,211,211);
$black: #19161A;
$white: hsl(0, 0%, 90%);
$red-logo: #FF4057;
$red-lighter: hsl(353, 100%, 70%);

// Animation time
$animations: 1s;

// Slider's parameters
$icon-width: 200px;
$slider-height: 150px;

// Header's height
$header-height: 130px;

// Media
$threshold1: 576px;
$threshold2: 768px;
$threshold3: 992px;
$threshold4: 1200px;
$threshold5: 1400px;