@import '../../../helpers/variables.scss';

.Card {
    // Position of those components is declared in Projects.scss
    box-sizing: border-box;
    height: 400px;
    width: 300px;
    color: $silver;
    .__frame {
        box-sizing: border-box;
        display: block;
        height: 75%;
        overflow: hidden;
        cursor: pointer;
        .__container {
            height: 100%;
            width: 100%;
            perspective: 100px;
            padding: 0;
            :not(:hover) {
                transform: translateZ(0);
                transition: transform 1s;
            }
            :hover {
                transform: translateZ(30px);
                transition: transform 1s;
            }
            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
                // object-position: center;
            }
        }
    }
    h2 {
        text-align: center;
        font-family: aeonik;
        font-size: 30px;
        text-decoration: underline solid $red-logo 1px;
        text-underline-offset: 8px;    
        cursor: default;
    }
}

.animated {
    transform: translateX(-100%);
    border: 3px solid green;
    // transition: transform 1s;
}