@import '../helpers/variables.scss';

#About {
  .__wallpaper1 {
    background-image: url('../../assets/about/computers.jpg');
    background-position: center;
    height: 100vh;
  }
  .__box {
    height: 300px;
    width: 100%;
    position: absolute;
    z-index: 1;
    .__text {
      margin: 0 auto 0;
      padding: 10px 10px;
      // display: inline-block;
      backdrop-filter: blur(30px);
      width: 370px;
      border-radius: 20px;
      .__text-animated {
        // height: 400px;
        font-family: aeonik, monospace;
        // text-align: center;
        text-align: left;
        // display: inline-block;
        color: white;
        overflow: hidden;
        border-right: .15em solid orange;
        text-wrap: wrap;
        font-size: 1.4rem;
        width: 100%; // Change for 0
      }
    }
  }
}