@import '../helpers/variables.scss';
@import '../helpers/placeholders.scss';


#Contact {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 900px;

    // Laptop's picture
    .__background {
        position: relative;
        width: 50%;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            position: relative;
            // z-index: -1;
            // top: 350px;
            width: 100%;
            object-fit: cover;
        }
    }

    // Container with all information
    .__container {
        box-sizing: border-box;
        width: 50%;
        .__infobox {
            width: 560px;
            position: relative;
            margin: 20px auto;
            .__title {
                background-color: $silver;
                font-family: aeonik; 
                font-size: 35px;
                color: $silver;
                background-color: black;
                // font-family: roboto;
            }
            .__desc {
                color: $silver;
                font-family: aeonik;
                font-size: 18px;
                background-color: black;
            }
            // Box with e-mail and phone number
            .__info {
                width: 350px;
                padding-left: 15px;
                margin: 30px;
                border: 6px double $silver; 
                // display
                .__phone-number,
                .__email {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    img {
                        height: 30px;
                    }
                    p {
                        margin: 15px;
                        font-family: roboto;            
                        font-size: 25px;
                        line-height: 30px;
                        color: $red-logo;
                        padding-left: 9px;
                    }
                }
            }
            // Submit form
            form {
                width: 500px;
                .__inputs {
                    display: flex;
                    flex-direction: column;
                    input {
                        color: $silver;
                        // color: hsl(0, 0%, 60%);
                        background-color: black;
                        width: 430px;
                        margin-bottom: 20px;
                        border-top: none;
                        border-right: none;
                        border-left: none;
                        border-bottom: 1px solid $silver;
                        @extend %inputs;
                        &::placeholder {
                            color: hsl(0, 0%, 60%);
                            // color: $red-logo;
                        }
                    }
                    input:nth-of-type(odd) {
                        // background-color: black;
                    }
                    input:nth-of-type(even) {
                        // background-color: black;  
                    }
                }
                textarea {
                    background-color: black;
                    color: $silver;
                    // color: hsl(0, 0%, 60%);
                    border: 1px solid $silver;
                    padding: 0;
                    border-radius: 20px;
                    width: 100%;
                    
                    @extend %inputs;
                }
                .__btn {
                    cursor: pointer;
                    font-size: 20px;
                    background-color: black;
                    color: $red-logo;
                    position: relative;
                    width: $textarea__button-width;
                    margin-top: 20px;
                    height: 40px;
                    left: calc(50% - $textarea__button-width / 2);
                    border-radius: 8px;
                    border: 1px solid $silver;
                    &:hover {
                        color: $silver;
                        border-color: $red-logo;
                    }
                }
            }
        }
    }
}