@import '../helpers/variables.scss';

#Footer {
    border-top: 1px solid $red-logo;
    height: 100px;
    background-color: $black;
    position: relative;
    z-index: 1; // For hiding laptop's image
    span {
        color: $silver;
        font-family: aeonik;
    }
}