@import '../helpers/mixins.scss';
@import '../helpers/variables.scss';

#Header {
    position: fixed;
    z-index: 4;
    top: 0;
    border-bottom: 2px solid $red-logo;
    height: $header-height;
    width: 100vw;
    background-color: $black;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .Header__logo {
        height: 100px;
        display: inline-block;
        cursor: pointer;
    }
    .Header__menu {
        list-style-type: none;
        padding-inline-start: 20px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        width: 310px;
    }
    .Header__menu li {
        font-family: aeonik;
        font-size: 18px;
        display: inline-block;
        padding: 9px;
    }
    // Language flags
    .Header__icons {
        display: flex;
        width: 60px;
        // Menu btn
        .Header__icons__menu {
            display: none;
        }
        // Flag
        .Header__icons__flag {
            $height: 28px;
            height: $height;
            width: calc($height * 8 / 5);
            cursor: pointer;
        }
    }
    
}

@media(max-width: $threshold2) {
    #Header {
        justify-content: space-between;
        box-sizing: border-box;
        padding: 20px;
        .Header__menu {
            position: absolute;
            z-index: -52;
            top: 114px;
            left: 0;
            width: 100vw;
            flex-direction: column;
            padding: 0;
            cursor: auto;
            li {
                background-color: $black;
                position: relative;
                box-sizing: border-box; 
                width: 100%;
                border-bottom: 0.1px solid $red-logo;
                height: $header-button-height;
                cursor: pointer;
                &:hover{
                    background-color: $silver;
                    color: $red-logo;
                    color: $black;
                    font-weight: 1000;
                    letter-spacing: .5px;
                } 
            }
        }
        // When visible
        .Header__menu-shown {
            li {
                visiblity: visible;
            }
            // li:nth-child(1) {
            //     transition: transform 150ms;
            //     z-index: 4;
            // }
            // li:nth-child(2) {
            //     transition: transform 300ms;
            //     z-index: 3;
            // }
            // li:nth-child(3) {
            //     transition: transform 450ms;
            //     z-index: 2;
            // }
            // li:nth-child(4) {
            //     transition: transform 600ms;
            //     z-index: 1;
            // }
            li:nth-child(1) {
                transition: transform $header-button-speed, visibility $header-button-speed 50ms;
                z-index: 4;
            }
            li:nth-child(2) {
                transition: transform $header-button-speed * 2, visibility $header-button-speed $header-button-speed;
                z-index: 3;
            }
            li:nth-child(3) {
                transition: transform $header-button-speed * 3, visibility $header-button-speed $header-button-speed * 2;
                z-index: 2;
            }
            li:nth-child(4) {
                transition: transform $header-button-speed * 4, visibility $header-button-speed $header-button-speed * 3;
                z-index: 1;
            }
        }
        .Header__menu-hidden {
            li {
                visibility: hidden;   
            }
            li:nth-child(1) {
                transform: translateY(-$header-button-height);
                transition: transform $header-button-speed * 1, visibility $header-button-speed $header-button-speed * 1 - 50ms;
            }
            li:nth-child(2) {
                transform: translateY(-$header-button-height * 2);
                transition: transform $header-button-speed * 2, visibility $header-button-speed $header-button-speed * 2 - 50ms;
            }
            li:nth-child(3) {
                transform: translateY(-$header-button-height * 3);
                transition: transform $header-button-speed * 3, visibility $header-button-speed $header-button-speed * 3 - 50ms;
            }
            li:nth-child(4) {
                transform: translateY(-$header-button-height * 4);
                transition: transform $header-button-speed, visibility $header-button-speed $header-button-speed * 4 - 50ms;
            }
        }
        // Shuffle in
        // .Header__menu-shown {
        //     // display: flex;
        //     li {
        //         transform: translateX(0vw);
        //         opacity: 1;
        //     }
        //     li:nth-child(1) {
        //         transition: all 150ms;
        //     }
        //     li:nth-child(2) {
        //         transition: all 150ms 100ms;
        //     }
        //     li:nth-child(3) {
        //         transition: all 150ms 200ms;
        //     }
        //     li:nth-child(4) {
        //         transition: all 150ms 300ms;
        //     }
        // }
        // .Header__menu-hidden {
        //     // display: none;
        //     li {
        //         transform: translateX(100vw);
        //         opacity: 0;
        //         transition: all 100ms;

        //     }
        // }
        .Header__icons {
            width: 90px;
            padding-right: 10px;
            // mixin with all menu's button styling
            @include proportions($width: 40px);
        }
    }
}

@media (max-width: $threshold1) {
    #Header {
        flex-direction: column;
        justify-content: space-evenly;
        height: 140px;
        padding: 0;
        .Header__logo {
            height: 80px;
        }
        .Header__menu {
            top: 124px;
        }    
        .Header__icons {
            width: 65px;
            padding: 0;
            $height: 20px;
            display: flex;
            justify-content: space-between;
            .Header__icons__flag {
                height: $height;
                width: calc($height * 8 / 5);
            }
            // mixin with all menu's button styling
            @include proportions($width: 30px);
        }
    }
}