@import '../helpers/variables.scss';

#Header {
    // background-color: $silver;
    position: fixed;
    z-index: 4;
    top: 0;
    border-bottom: 2px solid $red-logo;
    width: 100vw;
    background-color: $black;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: $header-height;
    .Header__logo {
        height: 100px;
        display: inline-block;
    }
    .Header__menu {
        list-style-type: none;
        cursor: pointer;
    }
        
    .Header__menu li {
        font-family: aeonik;
        font-size: 18px;
        display: inline-block;
        padding: 9px;
    }
    
    .Header__flags {
        // float: right;
        float: inline-end;
        padding-right: 30px;
    }
    
    .Header__flags img {
        $height: 28px;
        height: $height;
        width: calc(($height * 8) / 5);
        padding: 0 5px;
        cursor: pointer;
    }
}

@media(max-width: $threshold2) {
    #Header {
        .Header__menu {
            
        }
        .Header__menu li {
        
        }
    }
}