@import '../helpers/variables.scss';

#Header {
    position: fixed;
    z-index: 4;
    top: 0;
    border-bottom: 2px solid $red-logo;
    height: $header-height;
    width: 100vw;
    background-color: $black;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .Header__logo {
        height: 100px;
        display: inline-block;
    }
    .Header__menu {
        list-style-type: none;
        padding-inline-start: 20px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        width: 310px;
    }
    .Header__menu li {
        font-family: aeonik;
        font-size: 18px;
        display: inline-block;
        padding: 9px;
    }
    // Language flags
    .Header__icons {
        display: flex;
        width: 60px;
        // Menu btn
        .Header__icons__menu {
            display: none;
        }
        // Flag
        .Header__icons__flag {
            // $height: $header-flag-height;
            $height: 28px;
            height: $height;
            width: calc($height * 8 / 5);
            cursor: pointer;
        }
    }
    
}

@media(max-width: $threshold2) {
    #Header {
        justify-content: space-between;
        box-sizing: border-box;
        padding: 20px;
        .Header__menu {
            position: absolute;
            top: 115px;
            left: 0;
            width: 100vw;
            display: flex;
            flex-direction: column;
            background-color: $black;
            animation: unfold .5s ease-in;
            padding: 0;
        }
        .Header__menu-hidden {
            display: none;
        }
        .Header__menu li {
            position: relative;
            z-index: 2;
            width: 100%;
            // padding-left: 35px;
            &:hover{
                background-color: $silver;
                color: $red-logo;
                color: $black;
                font-weight: 1000;
                letter-spacing: .5px;
            } 
        }
        .Header__icons {
            width: 90px;
            justify-content: space-between;
            padding-right: 10px;
            .Header__icons__menu {
                position: relative;
                height: 40px;
                width: 40px;
                border: 1px solid red;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center; 
                overflow: hidden;   
                // Animated lines
                span {
                    position: absolute;
                    width: 30px;
                    height: 4px;
                    background-color: $red-logo;
                    border-radius: 2px;
                    transition: 0.5s;
                    &:nth-child(1) {
                        transform: translateY(-10px);
                        width: 20px;
                        right: 5px;
                    }
                    &:nth-child(3) {
                        transform: translateY(10px);
                        width: 10px;
                        right: 5px;
                    }
                }
            }
            .Header__icons__menu-active {
                span {
                    &:nth-child(1) {
                        // transform: translateY(-10px);
                        width: 30px;
                        transform: translateY(0px) rotate(-45deg);
                        // right: 5px;
                    }
                    &:nth-child(2) {
                        transform: translateX(60px);
                    }
                    &:nth-child(3) {
                        width: 30px;
                        transform: translateY(0px) rotate(-315deg);
                    }
                }
                
            }   
        }
    }
}

@media (max-width: $threshold1) {
    #Header {
        flex-direction: column;
        justify-content: space-evenly;
        height: 140px;
        padding: 0;
        .Header__logo {
            height: 80px;
        }
        .Header__menu {
            top: 225px;
        }    
        .Header__icons {
            padding: 0;
            $height: 20px;
            .Header__icons__flag {
                height: $height;
                width: calc($height * 8 / 5);
            }
            .Header__icons__menu {
                height: $height;
                
            }
        }
    }
}

@keyframes unfold {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}