@import '../helpers/variables.scss';

#Home {
    background-color: $black;
    color: $white;
    min-height: 500px; // temporary
    .__show {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .__beginning {
            font-size: 2em;
            text-align: center;
        }
        // Changing text of introduction
        .__wrapper {
            p {
                font-size: 2em;
                text-align: center;
                margin: 0;
                line-height: 0;
                &:nth-of-type(3) {
                    color: $red-logo;
                }
            }
        }        
    }
    // Typed out text
    .__text{
        display: inline-block;
        .__text-animated {
            overflow: hidden;
            border-right: .15em solid orange;
            white-space: nowrap;
            animation: typing 2400ms steps(32) infinite;
            font-size: 1.6rem;
            width: 0;
            @keyframes typing {
                from { width: 0 }
                to { width: 100% }
            }
        }
    }
}

