@import '../helpers/variables.scss';

#Projects {
    height: 600px;
    padding: 48px 0;
    background-color: $black;
    justify-content: space-around;
    h1 {
        font-family: roboto;
        font-size: 40px;
        // text-decoration: underline solid $red-logo 1px;
        text-decoration: underline solid $silver 1px;
        text-underline-offset: 8px;   
        // color: $silver;
        color: $red-logo;
        display: block;
        text-align: center;
        padding: 24px 48px 90px;
        margin: 0;
    }
    .__cards {
        display: flex;
        // justify-content: center;
        justify-content: space-evenly;
    }
}